*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    position: absolute;
    width: 100%;
    height: 100%;
}

#box{
    display: flex;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.box1{
    display: flex;
    flex:1;
    background-color: #7d32b3;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0px 50px;
  
}

#big-text{
    font-size: 70px;
    color: #ffffff;
}

.box2{
   flex: 1;
   padding: 70px;
   overflow: auto;
}

.login_container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.login_container h3{
   margin-bottom: 20px;
}

.login_container label{
    color: #0000006e;
    font-size: 14px;
}

/* .login_container p{
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
} */

.login_container p input{
    width: 100%;
    padding: 15px 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.signup_button{
    width: 100%;
    padding: 20px 0px;
    background-color: #7d32b3;
    color: #ffffff;
    font-size: 16px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.login{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 50px 0px;
    gap: 5px;
}
.login p{
     color: #0000006e;
     font-size: 15px;
}
.login h4{
    color: #7d32b3;
}
.Policy{
    color: #0000006e;
    width: 320px;
    margin-bottom: 20px;
    font-size: 15px;
}
.Policy span{
    color: #7d32b3;
    font-weight: bold;
    font-size: 13px;
}
.Artisan_signup{
    display: flex;
}
.art{
     padding: 15px;
     background-color: transparent;
     color: #000000af;
     font-size: 14px;
     border-radius: 5px;
     border: 0;
     cursor: pointer;
     margin-bottom: 20px;
}
.user{
    background-color: #000000;
    color: #ffffff;
}


.form{
    display: none;
}
   
 .active-form{
    display: block;
 }   

#artisan-form{
    display: none;
}
.logo{
    width: 200px;
    display: none;
    height: 200px;
}

/* for laptop size */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    #container{
        display: flex;
        width: 100%;
    }
    .box{
        display: flex;
        width: 100%;
    }
    .box1{
        flex-direction: column;
        width: 100%;
    }
    .box2{
        flex-direction: column;
        width: 100%;
    }
    .signup{
        flex-direction: column;
        width: 100%;
    }

}
/* for mini laptop size */
@media only screen and (min-width: 992px)and  (max-width: 1023px) {
    #container{
        display: flex;
        width: 100%;
    }
    .box{
        display: flex;
        width: 100%;
    }
    .box1{
        flex-direction: column;
        width: 100%;
    }
    .box2{
        flex-direction: column;
        width: 100%;
    }
    .signup{
        flex-direction: column;
        width: 100%;
    }

}
/* for tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #container{
        display: flex;
        width: 100%;
    }
    .box{
        display: flex;
        width: 100%;
    }
    .box1{
        flex-direction: column;
        width: 100%;
    }
    .box2{
        flex-direction: column;
        width: 100%;
    }
    .signup{
        flex-direction: column;
        width: 100%;
    }

}

/* for phone */
@media only screen and (max-width: 600px) {
    #container{
        display: flex;
        width: 100%;
    }
    .box{
        flex-direction: column;
        width: 100%;
    }
    .box1{
        flex-direction: column;
        width: 100%;
    }
    .box2{
        flex-direction: column;
        width: 100%;
    }
    .form active-form{
        flex-direction: column;
        width: 100%;
    }

}